extends base
block content 
    h1  login
        form(method="POST")
            input(type="text" required name="id" placeholder="id")
            input(type="password" required name="password" placeholder="password")
            input(type="submit")
          
    hr
    div     
        span 계정이 없으신가요?
        a(href="/join") 만들기